[submodule "owf"]
	path = owf
	url = https://www.owfgoss.org/git/repos/owf8.git
[submodule "kernel"]
	path = kernel
	url = https://www.owfgoss.org/git/repos/kernel.git
[submodule "commons"]
	path = commons
	url = https://www.owfgoss.org/git/repos/commons8.git
[submodule "marketplace"]
	path = marketplace
	url = https://www.owfgoss.org/git/repos/marketplace8.git
[submodule "metrics"]
	path = metrics
	url = https://www.owfgoss.org/git/repos/metrics8.git
[submodule "docs"]
	path = docs
	url = https://www.owfgoss.org/git/repos/docs.git
